:root {
  --font-primary: "Sen", sans-serif;
  --font-secondary: "Roboto Mono", monospace;
  --color-primary: rgb(58, 58, 58);
  --color-secondary: rgb(244, 243, 242);
  --color-tertiary: rgb(255, 255, 255);
}

#storelist {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto;
}
