:root {
  --font-primary: "Sen", sans-serif;
  --font-secondary: "Roboto Mono", monospace;
  --color-primary: rgb(58, 58, 58);
  --color-secondary: rgb(244, 243, 242);
  --color-tertiary: rgb(255, 255, 255);
}

body {
  margin: 0;
}

.container {
  margin-left: 40px;
  margin-right: 40px;
}

h1 {
  font-family: "Bowlby One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

h2 {
  margin: 0;
  font-family: "Bowlby One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 60px;
}

p {
  margin: 0;
}

a {
  padding-bottom: 30px;
}

.hero_div {
  position: relative;
}

.thumbnail {
  max-width: 100%;
  max-height: 100%;
}

.logo {
  position: absolute;
  top: 20px;
  left: 40px;
  z-index: 10;
  width: 200px;
}

#storelist {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto;
}

.listItem {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.link {
  text-decoration: none;
  color: black;
}
